body {
    background-image: linear-gradient(rgb(19, 170, 19), rgb(134, 33, 206), rgb(59, 59, 255));
  } 


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
