html {
    min-height: 100%;
}

body {
background-image: linear-gradient(rgb(65, 211, 35), rgb(241, 230, 83), rgb(164, 75, 216));
} 


h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.center {
    display: block;
    margin-left: 10%;
    margin-right: 90%;
    width: 25%;
}

a {
    color: blue;
}

.und {
    text-decoration: underline;
}